Django==3.0.8 
Pillow==7.2.0 
asgiref==3.2.10 
boto3==1.14.28 
botocore==1.17.34 
django-crispy-forms==1.9.2 
django-storages==1.9.1 
django-tinymce==3.0.2 
docutils==0.15.2 
gunicorn==20.0.4 
jmespath==0.10.0 
python-dateutil==2.8.1 
pytz==2020.1 
s3transfer==0.3.3 
six==1.15.0 
sqlparse==0.3.1 
urllib3==1.25.10
psycopg2-binary==2.8.5
celery==4.4.6
redis==3.5.3
