celery==5.0.5
coverage==5.5
Django==3.2.3
django-crispy-forms==1.11.2
django-storages==1.11.1
django-tinymce==3.3.0
gunicorn==20.1.0
Pillow==8.2.0
playwright==1.10.0
pre-commit==2.12.1
psycopg2-binary==2.8.6
pytest==6.2.4
pytest-cov==2.11.1
pytest-django==4.2.0
pytest-playwright==0.1.0
pytest-xdist==2.2.1
redis==3.5.3
