{% extends '../blog/layout.html' %}
{% load static i18n crispy_forms_tags %}
{% block content %}
<div class="col-6 offset-3">
  <div class="container jumbotron">
    <div class="image text-center">
      {% if request.user.author.picture %}
      <img
        src="{{ request.user.author.picture.url }}"
        alt="..."
        class="img-fluid"
        width="250px"
        height="250px"
      />
      {% endif %}
    </div>
    <hr />
    <h1 class="text-center">{{ request.user|upper }}</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{user_form|crispy}} {{author_form|crispy}}
      <input
        type="submit"
        class="btn btn-block btn-primary"
        value="Update Profile"
      />
    </form>
  </div>
</div>
{% endblock %}
