{% extends './layout.html' %}
{% load static i18n %}
{% block content %}
<!-- Hero Section-->
<section
  style="background: url({% static 'blog/img/hero.jpg' %}); background-size: cover; background-position: center center"
  class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Fantastic Django Blog </h1><br><br><br><a href=".featured-posts" class="continue link-scroll">Discover More</a>
      </div>
    </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3"><em>Introduction</em></h2>
        <div class="blockquote">
          <blockquote>The best portion of a man's life, his little, nameless, unremembered acts of
            kindness and
            love. </blockquote>
          <footer class="blockquote-footer">William Wordsworth</footer>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured-posts no-padding-top">
  <div class="container">
    <!-- Post-->
    {% for post in featured_posts %}
    <div class="row d-flex align-items-stretch">
      {% if not forloop.first and not forloop.last %}
      <div class="image col-lg-5"><img src="{{ post.thumbnail.url }}" alt="..."></div>
      {% endif %}
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for category in post.category.all %}
                <a href="#">{{ category }}</a>
                {% endfor %}
              </div><a href="{{ post.get_absolute_url }}">
                <h2 class="h4">{{ post.title }}</h2>
              </a>
            </header>
            <p>{{ post.overview|linebreaks|truncatewords:50 }}</p>
            <footer class="post-footer d-flex align-items-center"><a href="#"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ post.author.picture.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ post.author }}</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }}</div>
              <div class="comments"><i class="icon-comment"></i>{{ post.comment.count }}</div>
            </footer>
          </div>
        </div>
      </div>
      {% if forloop.first or forloop.last %}
      <div class="image col-lg-5"><img src="{{ post.thumbnail.url }}" alt="..."></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
<!-- Divider Section-->
<section
  style="background: url({% static 'blog/img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="blockquote">
          <blockquote class="h2">How does the Meadow flower its bloom unfold? Because the lovely little flower is free
            down to its root, and in that
            freedom bold.</blockquote>
          <blockquote class="blockquote-footer">William Wordsworth</blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the blog</h2>
    </header>
    <div class="row">
      {% for post in latest_posts %}
      <div class="post col-md-4">
        <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}"
              class="img-fluid"></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ post.timestamp }}</div>
            <div class="category">{% for category in post.category.all %}
              <a href="#">{{ category }}</a>
              {% endfor %}</div>
          </div><a href="{{ post.get_absolute_url }}">
            <h3 class="h4">{{ post.title }}</h3>
          </a>
          <p class="text-muted">{{ post.overview|linebreaks|truncatewords:50 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="{% url 'index' %}" method="POST">
            <div class="form-group">
              {% csrf_token %}
              <input type="email" name="email" id="email" placeholder="Type your email address" minlength="8">
              <input type="submit" class="submit" value="Subscribe" >
            </div>
          </form>
          {% if messages %}
          <div class="row">
            <div class="col-md-8">
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} fade show" role="alert">
                <p>{{ message }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'blog/img/gallery-1.jpg' %}" data-fancybox="gallery" class="image"><img
            src="{% static 'blog/img/gallery-1.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'blog/img/gallery-2.jpg' %}" data-fancybox="gallery" class="image"><img
            src="{% static 'blog/img/gallery-2.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'blog/img/gallery-3.jpg' %}" data-fancybox="gallery" class="image"><img
            src="{% static 'blog/img/gallery-3.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="{% static 'blog/img/gallery-4.jpg' %}" data-fancybox="gallery" class="image"><img
            src="{% static 'blog/img/gallery-4.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div>
        </a></div>
    </div>
  </div>
</section>
{% endblock content %}
