{% extends './layout.html' %}
{% load static i18n %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->
          {% for post in page_obj %}
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}"
                  alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="category">
                  {% for category in post.category.all %}
                  <a href="#">{{ category }}</a>
                  {% endfor %}
                </div>
              </div><a href="{{ post.get_absolute_url }}">
                <h3 class="h4">{{ post.title }}</h3>
              </a>
              <p class="text-muted">{{ post.overview|linebreaks|truncatewords:50 }}</p>
              <footer class="post-footer d-flex align-items-center"><a href="#"
                  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ post.author.picture.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ post.author }}</span></div>
                </a>
                <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment.count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                  class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="page-item"><a href="?page={{ page_obj.number }}"
                class="page-link active">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i
                  class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>

      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="{% url 'search' %}" class="search-form">
          <div class="form-group">
            <input type="search" placeholder="What are you looking for?" name="q">
            <button type="submit" class="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget]        -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts">
          {% for post in latest_posts %}
          <a href="#">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="title"><strong>{{ post.title }}</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>{{ post.comment.count }}</div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <!-- Widget [Categories Widget]-->
        <div class="widget categories">
          <header>
            <h3 class="h6">Categories</h3>
          </header>
          {% for category in categories %}
          <div class="item d-flex justify-content-between">
            <a href="#">{{ category }}</a><span>{{ category.post.count }}</span>
          </div>
          {% endfor %}
        </div>
    </aside>
  </div>
</div>
{% endblock content %}
