{% extends './layout.html' %}
{% load static i18n %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">

              <div class="category">
                {% for category in post.category.all %}
                <a href="#">{{ category.title }}</a>
                {% endfor %}
              </div>
            </div>
            <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ post.author.picture.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ post.author }}</span></div>
              </a>
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }}</div>
                <div class="views"><i class="icon-eye"></i> 500</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments_count }}</div>
              </div>
            </div>

            <div class="post-body">
              {{ post.content|safe }}
            </div>

            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">( {{post.comments_count}} )</span></h3>
              </header>
              {% for comment in post.get_comments %}
              <div class="comment">
                <div class="comment-header d-flex justify-content-between">
                  <div class="user d-flex align-items-center">
                    <div class="image"><img src="{{ comment.user.picture.url }}" alt="..."
                        class="img-fluid rounded-circle"></div>
                    <div class="title"><strong>{{ comment.user }}</strong><span
                        class="date">{{ comment.timestamp|timesince }}</span></div>
                  </div>
                </div>
                <div class="comment-body">
                  <p> {{ comment.content|safe }}</p>
                </div>
              </div>
              {% endfor %}
              <div class="add-comment">
                <header>
                  <h3 class="h6">Leave a comment</h3>
                </header>
                <form action="#" class="commenting-form">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <input type="text" name="username" id="username" placeholder="Name" class="form-control"
                        value="{{request.user}}">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" name="username" id="useremail"
                        placeholder="Email Address (will not be published)" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                      <textarea name="usercomment" id="usercomment" placeholder="Type your comment"
                        class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-secondary">Submit Comment</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="#" class="search-form">
          <div class="form-group">
            <input type="search" placeholder="What are you looking for?">
            <button type="submit" class="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget]        -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts"><a href="#">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="img/small-thumbnail-1.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
              </div>
            </div>
          </a><a href="#">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="img/small-thumbnail-2.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
              </div>
            </div>
          </a><a href="#">
            <div class="item d-flex align-items-center">
              <div class="image"><img src="img/small-thumbnail-3.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                <div class="d-flex align-items-center">
                  <div class="views"><i class="icon-eye"></i> 500</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </div>
              </div>
            </div>
          </a></div>
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <header>
          <h3 class="h6">Categories</h3>
        </header>
        <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
        <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
      </div>
      <!-- Widget [Tags Cloud Widget]-->
    </aside>
  </div>
</div>
{% endblock content %}