{% load static i18n crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block meta %}{% endblock meta %}
		<!-- CSS only -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css"
		/>
		{% block style %}{% endblock style %}
		<title>{% block title %}Home{% endblock title %}</title>
	</head>

	<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
				<div class="container">
					<a class="navbar-brand mr-4" href="#">Home</a>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarToggle"
						aria-controls="navbarToggle"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">
						<!-- Navbar Right Side -->
						<div class="navbar-nav ml-auto">
							{% if user.is_authenticated %}
							<a class="nav-item nav-link" href="#">New Post</a>
							<a class="nav-item nav-link" href="#">Profile</a>
							<a class="nav-item nav-link" href="#">Logout</a>
							{% else %}
							<a class="nav-item nav-link" href="#">Login</a>
							<a class="nav-item nav-link" href="{% url 'register' %}"
								>Register</a
							>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
			<div class="row">
				<div class="col-md-8">
					{% if messages %} {% for message in messages %}
					<div class="alert alert-{{ message.tags }} fade show">
						{{ message }}
					</div>
					{% endfor %} {% endif %} {% block content %}{% endblock %}
				</div>
			</div>
			<footer class="footer sticky-bottom">
				<div class="container">
					<p>&copy; {% now "Y" %} Blog</p>
				</div>
			</footer>
		</main>

		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>
		{% block script %}{% endblock script %}
	</body>
</html>
